.signin-body {
    display: grid;
    place-items: center;
    height: 729px;

    .signin-container {
        width: 70%;
        background-color: #ffe7;
        display: flex;
        padding: 1em;

        .logo {
            flex: 1;
            display: grid;
            align-items: center;
            border-right: 1px solid #d3d3d3;
            padding: 1em;
            font-family: cursive;

            img {
                height: 70px;
                width: auto;
            }
        }

        .signin-form {
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            flex: 0.6;
            padding: 1em 1em 1em 2em;
            
            h1 {
                color: #00e0c6;
            }

            .form {
                padding: 1em 0;
                margin-bottom: 2em;
                
                .form-input {
                    margin-bottom: 2em;
                    display: flex;
                    flex-direction: column;

                    .input-top {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    
                        label {
                            margin-bottom: 0.5em;
                        }
                    }

                    .input {
                        height: 40px;
                        outline: none;
                        border: 1px solid gray;
                        border-radius: 20px;
                        padding: 0 1em;
                        background-color: #fff;
                        display: flex;
                        align-items: center;

                        input {
                            flex: 1;
                            outline: none;
                            border: none;
                            font-size: 18px;
                            background-color: #fff;
                            height: 90%;
                            padding-right: 10px;
                        }
                    }
                }

                button {
                    height: 40px;
                    width: 100px;
                    border-radius: 20px;
                    outline: none;
                    border: none;
                    background-color: #00e0c6;
                    font-weight: 500;
                    font-size: 20px;
                    color: #ffe;
                }
            }

            .bottom-btn {
                font-family: Arial, Helvetica, sans-serif;

                a {
                    color: #006eff;
                }
            }
        }
    }
}

.error {
    font-size: 10px;
    color: red;
    margin-right: 1em;
}

@media only screen and (max-width: 900px) {
    .signin-body {
        height: fit-content;

        .signin-container {
            flex-direction: column-reverse;

            .logo {
                margin-top: 2em;
            }

            .signin-form {
                padding: 1em 2em;

                h1 {
                    margin-top: 0;
                }

                .form {
                    padding-top: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    .signin-body {
        .signin-container {
            width: 94%;

            .signin-form {
                padding: 1em;

                h1 {
                    font-size: 1.5em;
                    margin-bottom: 0.5em;
                }

                .form {
                    padding: 0;

                    .form-input {
                        width: 100%;
                        margin-bottom: 1em;

                        .input {
                            height: 30px;
                            
                            input {
                                font-size: 14px;
                            }

                            img {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                    
                    button {
                        height: 30px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .signin-body {
        .signin-container {
            padding: 0.5em 0;
            width: 100%;

            .logo {
                img {
                    height: auto;
                    width: 75%;
                }
            }

            .signin-form {
                .form {
                    .form-input {
                        .input-top {
                            label {
                                font-size: 12px;
                            }
                        }

                        .input {
                            padding: 0 0.75em;
                        }
                    }
                }

                .bottom-btn {
                    font-size: 12px;
                }
            }
        }
    }

    .error {
        font-size: 8px;
    }
}