<div class="home_container">
    <h2>Home</h2>
    <div class="user_container">
        <div class="info_container">
            <div class="name_container">
                <p><b>Name : </b></p>
                <p>{{ userDetail.fname }} {{ userDetail.lname }}</p>
            </div>
        </div>
        <div class="info_container">
            <div class="email_container">
                <p><b>Email : </b></p>
                <p>{{ userDetail.email }}</p>
            </div>
        </div>
    </div>
</div>