$navbar-height : 55px;
$m-sidebar-width : 250px;

.nav_bar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: $navbar-height;
    box-sizing: border-box;
    background-color: #00e0c6;
    padding: 1rem 2rem;
    font-size: 18px;
    box-shadow: 0 0 10px 0px #016170;
    font-family: 'Geologica', sans-serif;
    z-index: 10;

    .nav_logo {
        user-select: none;
        cursor: pointer;

        a {
            text-decoration: none;
            color: unset;
            display: flex;
            align-items: center;

            img {
                height: 30px;
            }
        }
    }

    .nav_log_out {
        margin-left: auto;

        button {
            border: none;
            outline: none;
            background-color: transparent;
            font-family: 'Geologica', sans-serif;
            cursor: pointer;
        }
    }

    .m_nav {
        display: none;
        align-items: center;
        margin-left: auto;

        .hamburger_container {
            padding: 5px;
            border: 1px solid white;
            border-radius: 4px;
            background-color: unset;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 4px;
            cursor: pointer;
            box-sizing: border-box;

            .bar1, .bar2, .bar3 {
                display: block;
                width: 20px;
                height: 2px;
                background-color: #fff;
            }

            .bar1, .bar3 {
                transition: 0.2s linear;
            }

            &.opened {
                .bar1 {
                    transform: translateY(5px) rotateZ(45deg);
                }
                
                .bar2 {
                    visibility: hidden;
                }
                
                .bar3 {
                    transform: translateY(-7px) rotateZ(-45deg);
                }
            }
        }
    }

    @media (max-width: 992px) {
        .nav_log_out {
            display: none;
        }

        .m_nav {
            display: flex;
        }
    }
}

.m_sidebar {
    position: fixed;
    width: 100%;
    color: #000;
    height: stretch;
    z-index: 8;
    font-family: 'Geologica', sans-serif;
    
    .m_nav_container {
        position: absolute;
        width: $m-sidebar-width;
        right: -$m-sidebar-width;
        background-color: #00e0c6;
        transition: 0.2s linear;
        height: 100%;
        z-index: 9;
        padding: 2rem 1rem;
        box-sizing: border-box;

        .nav_list, ul {
            margin: 0;
            padding-inline-start: 0;

            .nav_item, li {
                list-style-type: none;
                text-decoration: none;
                padding: 0.5rem 0.75rem;

                a {
                    text-decoration: none;
                    color: unset;
                    display: block;
                    font-size: 18px;
                }
            }

            .m_nav_log_out {
                margin-top: 1rem;
                border-top: 1px solid #fff;

                button {
                    padding: 0;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    cursor: pointer;
                    color: inherit;
                    font-size: 18px;
                }
            }
        }
    }

    &.opened {
        .m_nav_container {
            right: 0;
        }
    }

    @media (min-width: 992px) {
        display: none;
    }

    @media (max-width: 400px) {
        .m_nav_container {
            width: 100%;
            right: -100%;
        }

        &.opened {
            .m_nav_container {
                right: 0;
            }
        }
    }
}